@import "../../variables";

button {
	border-radius: 1.5rem;
	background: $g-color-button;
	padding: 0 .5rem 0 0;
	border-color: transparent;
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	.icon {
		color: $g-color-facebook;
		font-size: 1.9em;
	}

	.title {
		margin-left: .4rem;
		margin-right: .25rem;
	}

}
