/* You can add global styles to this file, and also import other style files */
@import "variables";

html, body {
  font-size: 16px;
  padding: 1rem;
  font-family: Arial;

  @media screen and (max-width: $g-breakpoint-mobile) {
	font-size: 18px;
  }
}
