// Taken from XWP files (typography
$g-breakpoint-mobile: 480px;
$g-breakpoint-tablet: 768px;
$g-breakpoint-desktop: 900px;
$g-color-facebook: #3A5795;
$g-color-button: #EBEBEB;
$g-color-link: #19ACF0;
$g-color-white: #FFFFFF;
