@import "../../variables";

.home {
  display: flex;
  flex-direction: row;
  align-items: center;

  .pic {
	order: 2;
	align-self: flex-start;
  }

  .info-panel {
	flex-grow: 4;
	margin-right: 3rem;
	width: 100%;
	align-self: flex-start;

	.user-info {
	  display: flex;
	  flex-direction: row;
	  align-items: center;

	  .actions {
		margin-left: .5rem;
	  }
	}
  }


  /* for mobile */
  @media screen and (max-width: $g-breakpoint-mobile) {
	flex-direction: column;
	.pic {
	  order: -1;
	  align-self: center;
	}

	.info-panel {
	  margin-right: auto;

	  .user-info {
		flex-direction: column;
	  }
	}
  }
}
